---
---

<nav class="navbar-outer">
  <div class="navbar-inner">
    <a href="/" class="logo">Logo</a>
    <div class="nav-links">
      <a href="/" class="nav-link">Portfolio</a>
      <a href="/about" class="nav-link">About</a>
      <a href="/contact" class="nav-link">Contact</a>
    </div>
  </div>
</nav>
