---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { title = "Portfolio" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Navbar />
    <div class="site-bg">
      <main class="main-content">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
